{% extends 'main/layout.html' %}
{% block center %}

    {% for i in page_object.object_list %}
      <div class="card mb-4">
        <div class="card-header"> {{ i.date}} </div>
        <div class="card-body">
          <p class="card-text">{{ i.content|linebreaks|truncatewords:9 }}</p>
          <footer class="blockquote-footer">{{ i.author}} </footer>
          <a href="{{i.id}}" class="btn btn-primary">Читать</a>
        </div>
      </div>

    {% endfor %}


    {% if is_paginated %}

    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item {% if not prev_url %} disabled {% endif %}">
          <a class="page-link" href="{{prev_url}}" tabindex="-1">Previous</a>
        </li>

        {% for n in page_object.paginator.page_range %}
          {% if page_object.number == n %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
            </li>

          {% elif   n < page_object.number|add:3 and n > page_object.number|add:-3 %}

            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
          {% endif %}
        {% endfor %}

        <li class="page-item {% if not next_url %} disabled {% endif %}">
          <a class="page-link" href="{{next_url}}">Next</a>
        </li>
      </ul>
    </nav>

    {% endif %}
{% endblock %}
